<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <authorization>
    
            <deny users="?" />
           <deny roles="Customer" />  
           
           <!-- <allow users="*" /> -->
    </authorization>
 </system.web>
 <location path="WebFormList_CurrencyList.aspx">
      <system.web>
			<authorization>
			<allow roles="Administrator,CurrencyManagerCreator,CurrencyManagerEditor,CurrencyManagerViewer" />
				<deny users="*" />
			</authorization>
      </system.web>
   </location>
   
   <location path="WebForm_CurrencyList.aspx">
      <system.web>
			<authorization>
			<allow roles="Administrator,CurrencyManagerCreator,CurrencyManagerEditor" />
				<deny users="*" />
			</authorization>
      </system.web>
   </location>
   
   
   <location path="WebFormList_CountryList.aspx">
      <system.web>
			<authorization>
			<allow roles="Administrator,CountryManagerCreator,CountryManagerEditor,CountryManagerModeOfPaymentEditor,CountryManagerViewer" />
			<deny users="*" />
			</authorization>
      </system.web>
   </location>
   
    <location path="WebForm_CountryList.aspx">
      <system.web>
			<authorization>
			<allow roles="Administrator,CountryManagerCreator,CountryManagerEditor" />
			<deny users="*" />
			</authorization>
      </system.web>
   </location>
   
   <location path="WebFormList_CountryAvailablePaymentModeList.aspx">
      <system.web>
			<authorization>
			<allow roles="Administrator,CountryManagerModeOfPaymentEditor, CountryManagerModeOfPaymentViewer, CountryManagerModeOfPaymentCreator" />
			<deny users="*" />
			</authorization>
      </system.web>
   </location>
      
      <location path="WebForm_CountryAvailablePaymentModeList.aspx">
      <system.web>
      	<authorization>
			<allow roles="Administrator,CountryManagerModeOfPaymentEditor, CountryManagerModeOfPaymentCreator" />
			<deny users="*" />
			</authorization>
      </system.web>
    </location>
      <!-- Bank Exchange Rate -->
    <location path="WebFormList_BankExchangeRateList.aspx">
      <system.web>
			<authorization>
			<allow roles="Administrator,BankExchangeRateEditor" />
			<deny users="*" />
			</authorization>
      </system.web>
   </location>
   
   <location path="WebForm_BankExchangeRateList.aspx">
      <system.web>
			<authorization>
			<allow roles="Administrator,BankExchangeRateEditor" />
			<deny users="*" />
			</authorization>
      </system.web>
   </location>
   
   <!-- SR Exchange Rate -->
   <location path="WebFormList_AgencyExchangeRateList.aspx">
      <system.web>
			<authorization>
			<allow roles="Administrator,AgencyExchangeRateManagerCreator, AgencyExchangeRateManagerEditor, AgencyExchangeRateManagerViewer" />
			<deny users="*" />
			</authorization>
      </system.web>
   </location>
   
   <location path="WebForm_AgencyExchangeRateList.aspx">
      <system.web>
      <authorization>
			<allow roles="Administrator,AgencyExchangeRateManagerCreator,AgencyExchangeRateManagerEditor" />
			<deny users="*" />
			</authorization>
      </system.web>
   </location>
   
   <!-- Agent Exchange Rate -->
   <location path="WebFormList_AgentExchangeRateList.aspx">
      <system.web>
			<authorization>
			<allow roles="Administrator,AgentExchangeRateManagerCreator, AgentExchangeRateManagerEditor,AgentExchangeRateManagerViewer" />
			<deny users="*" />
			</authorization>
      </system.web>
   </location>
   
   <location path="WebForm_AgentExchangeRateList.aspx">
      <system.web>
      <authorization>
			<allow roles="Administrator,AgentExchangeRateManagerCreator, AgentExchangeRateManagerEditor" />
			<deny users="*" />
			</authorization>
      </system.web>
   </location>
   
   <!-- Commission Slab -->
   
   <location path="WebFormList_CommissionSlabMaster.aspx">
      <system.web>
			<authorization>
			<allow roles="Administrator,CommissionSlabManagerCreator,CommissionSlabManagerEditor,CommissionSlabManagerViewer" />
			<deny users="*" />
			</authorization>
      </system.web>
   </location>
   
   <location path="WebForm_CommissionSlabMaster.aspx">
      <system.web>
      <authorization>
			<allow roles="Administrator,CommissionSlabManagerCreator,CommissionSlabManagerEditor" />
			<deny users="*" />
			</authorization>
      </system.web>
   </location>
   
   
   <!-- Location Management -->
   <location path="WebFormList_LocationList.aspx">
      <system.web>
			<authorization>
			<allow roles="Administrator,LocationManagerCreator,	LocationManagerEditor, LocationManagerViewer" />
			<deny users="*" />
			</authorization>
      </system.web>
   </location>
   
   <location path="WebForm_LocationList.aspx">
      <system.web>
      <authorization>
			<allow roles="Administrator,LocationManagerCreator,	LocationManagerEditor" />
			<deny users="*" />
			</authorization>
      </system.web>
   </location>
   
   <!-- Agent Account Master -->
   
   <location path="WebFormList_AgentMaster.aspx">
      <system.web>
			<authorization>
			<allow roles="Administrator,AgentAccountManagerCreator,	AgentAccountManagerEditor, AgentAccountManagerViewer" />
			<deny users="*" />
			</authorization>
      </system.web>
   </location>
   
   <location path="WebForm_AgentMaster.aspx">
      <system.web>
      <authorization>
			<allow roles="Administrator,AgentAccountManagerCreator,	AgentAccountManagerEditor" />
			<deny users="*" />
			</authorization>
      </system.web>
   </location>
   
   <!-- Agent Location -->
   <location path="WebFormList_AgentLocationList.aspx">
      <system.web>
			<authorization>
			<allow roles="Administrator,AgentManagerCreator,
		AgentManagerEditor,
		AgentManagerViewer" />
			<deny users="*" />
			</authorization>
      </system.web>
   </location>
   
   <location path="WebForm_AgentLocationList.aspx">
      <system.web>
      <authorization>
			<allow roles="Administrator,AgentManagerCreator,
		AgentManagerEditor" />
			<deny users="*" />
			</authorization>
      </system.web>
   </location>
   
   
   <!-- Bank Management -->
   
    <location path="WebFormList_BankList.aspx">
      <system.web>
			<authorization>
			<allow roles="Administrator,BankManagerCreator,	BankManagerEditor, BankManagerViewer" />
			<deny users="*" />
			</authorization>
      </system.web>
   </location>
   
   <location path="WebForm_BankList.aspx">
      <system.web>
      <authorization>
			<allow roles="Administrator,BankManagerCreator,BankManagerEditor" />
			<deny users="*" />
			</authorization>
      </system.web>
   </location>
   
   
   <!-- Customer List -->
   
    <location path="WebFormList_CustomerList.aspx">
      <system.web>
			<authorization>
			<allow roles="Administrator,CustomerManagerCreator, CustomerManagerEditor, CustomerManagerViewer" />
			<deny users="*" />
			</authorization>
      </system.web>
   </location>
   
   <location path="WebForm_CustomerList.aspx">
      <system.web>
      <authorization>
			<allow roles="Administrator,CustomerManagerCreator,CustomerManagerEditor" />
			<deny users="*" />
			</authorization>
      </system.web>
   </location>
   
   
   <!-- Customer Card List -->
   
    <location path="WebFormList_CustomerCardList.aspx">
      <system.web>
			<authorization>
			<allow roles="Administrator,CustomerCardCreator" />
			<deny users="*" />
			</authorization>
      </system.web>
   </location>
   
   <location path="WebForm_CustomerCardList.aspx">
      <system.web>
      <authorization>
			<allow roles="Administrator,CustomerCardCreator" />
			<deny users="*" />
			</authorization>
      </system.web>
   </location>
   
   <location path="BulkCardAssigner.aspx">
      <system.web>
      <authorization>
			<allow roles="Administrator,CustomerCardCreator" />
			<deny users="*" />
			</authorization>
      </system.web>
   </location>
   
   
   
   <!-- UserList -->
    <location path="WebFormList_UserList.aspx">
      <system.web>
      <authorization>
				<allow roles="Administrator,UserManagerCreator,UserManagerEditor,UserManagerRoleEditor,UserManagerViewer" />
				<deny users="*" />
			</authorization>
      </system.web>
   </location>
   
   
   <location path="WebForm_UserList.aspx">
      <system.web>
			<authorization>
				<allow roles="Administrator,UserManagerCreator,UserManagerEditor" />
				<deny users="*" />
			</authorization>
      </system.web>
   </location>
   
   
   <!-- SR User Role -->
   
   <location path="SRUserRoleManagement.aspx">
      <system.web>
			<authorization>
				<allow roles="Administrator,AgencyUserRoleEditor" />
				<deny users="*" />
			</authorization>
      </system.web>
   </location>
   
   <!-- Country Permission List -->
    <location path="WebFormList_CountryTransactionPermissionList.aspx">
      <system.web>
			<authorization>
				<allow roles="Administrator,CountryManagerPermissionCreator, CountryManagerPermissionViewer, CountryManagerPermissionEditor" />
				<deny users="*" />
			</authorization>
      </system.web>
   </location>

   <location path="WebForm_CountryTransactionPermissionList.aspx">
      <system.web>
			<authorization>
				<allow roles="Administrator,CountryManagerPermissionCreator, CountryManagerPermissionEditor" />
				<deny users="*" />
			</authorization>
      </system.web>
   </location>   

   <location path="ViewReport_CurrencyExposure.aspx">
      <system.web>
			<authorization>
				<allow roles="Administrator,ExposureReportsViewer" />
				<deny users="*" />
			</authorization>
      </system.web>
   </location> 
   
   <!--
   <location path="ViewTransactionStatus.aspx">
      <system.web>
			<authorization>
				<allow roles="Administrator" />
				<deny users="*" />
			</authorization>
      </system.web>
   </location> 
	-->

	<location path="WebFormList_PurposeOfTransferList.aspx">
      <system.web>
			<authorization>
				<allow roles="Administrator, PurposeOfTransferViewer" />
				<deny users="*" />
			</authorization>
      </system.web>
   </location>
   
   <location path="WebForm_PurposeOfTransferList.aspx">
      <system.web>
			<authorization>
				<allow roles="Administrator, PurposeOfTransferEditor, PurposeOfTransferCreator" />
				<deny users="*" />
			</authorization>
      </system.web>
   </location>
   
   <location path="WebFormList_AgentGroupList.aspx">
      <system.web>
			<authorization>
				<allow roles="Administrator, AgentGroupViewer" />
				<deny users="*" />
			</authorization>
      </system.web>
   </location>
   
   <location path="WebForm_AgentGroupList.aspx">
      <system.web>
			<authorization>
				<allow roles="Administrator, AgentGroupCreator, AgentGroupEditor" />
				<deny users="*" />
			</authorization>
      </system.web>
   </location>
   
   <location path="WebFormList_AgentAvailablePaymentModeList.aspx">
      <system.web>
			<authorization>
				<allow roles="Administrator, AgentModeOfPaymentViewer" />
				<deny users="*" />
			</authorization>
      </system.web>
   </location>
   
    <location path="WebForm_AgentAvailablePaymentModeList.aspx">
      <system.web>
			<authorization>
				<allow roles="Administrator, AgentModeOfPaymentEditor, AgentModeOfPaymentCreator" />
				<deny users="*" />
			</authorization>
      </system.web>
   </location>
</configuration>