<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>EditLogo</title>
</head>

<body>

<table cellSpacing="0" cellPadding="0" width="769" align="center" border="0" id="table2">
	<tr>
		<td vAlign="top" width="757" background="bg1.gif">
		<table cellSpacing="0" cellPadding="0" width="100%" border="0" id="table3">
			<tr>
				<td vAlign="top" width="744" height="127">
				<table cellSpacing="0" cellPadding="0" width="400" align="center" border="0" id="table4">
					<tr>
						<td background="wizint.gif">
						<table cellSpacing="0" cellPadding="0" width="740" align="center" border="0" id="table5">
							<tr vAlign="top">
								<td width="607" height="244">
								<table cellSpacing="0" cellPadding="0" width="100%" align="center" border="0" id="table6">
									<tr>
										<td vAlign="top" width="598">
										<form id="f1" name="f1" method="post" action="http://mailgenie.biz/v3/t26/t26template.aspx?campId=8154">
											<table cellSpacing="1" cellPadding="0" width="90%" align="center" bgColor="#336699" border="0" id="table7">
												<tr>
													<td vAlign="top">
													<table cellSpacing="0" cellPadding="0" width="100%" align="center" bgColor="#ffffff" border="0" id="table8">
														<tr bgColor="#cccccc">
															<td vAlign="top" bgColor="#ffffff" colSpan="5">
															<table cellSpacing="0" cellPadding="0" width="100%" align="center" border="0" id="table9">
																<tr>
																	<td>
																	<div align="center">
																		<br>
																		<font face="Verdana, Arial, Helvetica, sans-serif" color="#cc0000" size="1">
																		<a href="javascript:popup('changelogo.aspx?campid=8154','600','170')">
																		<img src="edit_icon.gif" border="0"><font face="Arial, Helvetica, sans-serif">EditLogo</font></a></font> 
																	</div>
																	</td>
																</tr>
															</table>
															<table cellSpacing="0" cellPadding="0" width="100%" align="center" border="0" id="table10">
																<tr>
																	<td bgColor="#336699" height="10">&nbsp;</td>
																</tr>
															</table>
															<table cellSpacing="0" cellPadding="0" width="100%" align="center" border="0" id="table11">
																<tr bgColor="#fde344">
																	<td width="348" height="61">
																	<font face="Arial, Helvetica, sans-serif" color="#672288" size="6">
																	<span id="TemplateTitle" reapeatdirection="vertical" repeatcoulmn="1">
																	IRE</span>
																	</font><br>
																	<font face="Verdana, Arial, Helvetica, sans-serif" color="#cc0000" size="1">
																	<a href="javascript:popup('changeText.aspx?campid=8154&amp;fieldname=templatetitle&amp;fieldlength=250','600','300')">
																	<img src="edit_icon.gif" border="0"><font face="Arial, Helvetica, sans-serif">Edit 
																	Heading</font></a></font></td>
																	<td width="214" height="61">
																	<div align="right">
																		<font face="Arial, Helvetica, sans-serif" color="#000000" size="2">
																		<span id="SubTitle" reapeatdirection="vertical" repeatcoulmn="1">
																		Subtitle</span></font>&nbsp;<font face="Verdana, Arial, Helvetica, sans-serif" color="#cc0000" size="1"><a href="javascript:popup('changeText.aspx?campid=8154&amp;fieldname=subtitle&amp;fieldlength=250','600','300')"><img src="edit_icon.gif" border="0"><font face="Arial, Helvetica, sans-serif">Edit
																		</font>
																		</a>
																		</font>
																		<br>
																		<span id="TDate" reapeatdirection="vertical" repeatcoulmn="1">
																		</span>&nbsp; 
																	</div>
																	</td>
																</tr>
															</table>
															<table cellSpacing="0" cellPadding="0" width="100%" align="center" border="0" id="table12">
																<tr>
																	<td bgColor="#99bbdd" height="2">
																	<font color="#99bbdd" size="1">
																	aa</font></td>
																</tr>
															</table>
															<table cellSpacing="0" cellPadding="0" width="95%" align="center" border="0" id="table13">
																<tr>
																	<td vAlign="top" width="317">
																	<table height="27" cellSpacing="0" cellPadding="0" width="367" border="0" id="table14">
																		<tr>
																			<td width="13" height="37">
																			&nbsp;</td>
																			<td vAlign="bottom" width="437" height="37">
																			<font face="Arial, Helvetica, sans-serif" color="#336699" size="3">
																			<b>
																			<span id="RepeatingsectionHeading" reapeatdirection="vertical" repeatcoulmn="1">
																			Heading 
																			for 
																			the 
																			highlights 
																			can 
																			be 
																			placed 
																			here</span></b></font><br>
																			<font face="Verdana, Arial, Helvetica, sans-serif" color="#cc0000" size="1">
																			<a href="javascript:popup('changeText.aspx?campid=8154&amp;fieldname=Repeatingsectionheading&amp;fieldlength=250','600','300')">
																			<img src="edit_icon.gif" border="0"><font face="Arial, Helvetica, sans-serif">Edit 
																			Heading</font></a></font></td>
																		</tr>
																	</table>
																	<table cellSpacing="0" cellPadding="0" width="367" border="0" id="table15">
																		<tr>
																			<td width="450" height="22">
																			<hr align="center" width="367">
																			</td>
																		</tr>
																	</table>
																	<table id="table16" style="border-collapse: collapse" cellSpacing="0" border="0" repeatcolumn="1">
																		<tr>
																			<td>
																			<table cellSpacing="0" cellPadding="0" width="367" border="0" id="table17">
																				<tr vAlign="top">
																					<td width="49" height="20">
																					<div align="center">
																						<img height="12" src="dot.gif" width="12"></div>
																					</td>
																					<td width="401" height="20"><font face="Arial, Helvetica, sans-serif" color="#000000" size="2"><a href="#HighLight1">Headline 1 </a></font></td>
																				</tr>
																			</table>
																			</td>
																		</tr>
																		<tr>
																			<td>
																			<table cellSpacing="0" cellPadding="0" width="367" border="0" id="table18">
																				<tr vAlign="top">
																					<td width="49" height="20">
																					<div align="center">
																						<img height="12" src="dot.gif" width="12"></div>
																					</td>
																					<td width="401" height="20"><font face="Arial, Helvetica, sans-serif" color="#000000" size="2"><a href="#HighLight2">Headline 2 </a></font></td>
																				</tr>
																			</table>
																			</td>
																		</tr>
																	</table>
																	<table cellSpacing="0" cellPadding="0" width="367" border="0" id="table19">
																		<tr>
																			<td width="225">
																			&nbsp;</td>
																			<td width="225">
																			&nbsp;</td>
																		</tr>
																	</table>
																	<table cellSpacing="0" cellPadding="0" width="367" border="0" id="table20">
																		<tr>
																			<td align="middle" width="367" height="2">
																			<img height="2" src="http://mailgenie.biz/v3/t26/images/line.gif" width="367"></td>
																		</tr>
																	</table>
																	<table cellSpacing="0" cellPadding="0" width="333" border="0" id="table21">
																		<tr>
																			<td width="1" height="134">
																			&nbsp;</td>
																			<td width="332">
																			<table id="table22" style="width: 100%; border-collapse: collapse" cellSpacing="0" border="0">
																				<tr>
																					<td>
																					<table cellSpacing="0" cellPadding="0" width="367" border="0" id="table23">
																						<tr>
																							<td vAlign="top" colSpan="4">
																							<table cellSpacing="0" cellPadding="0" width="367" border="0" id="table24">
																								<tr>
																									<td width="7" height="20">&nbsp;</td>
																									<td width="435" bgColor="#e4e4e4" height="20"><a name="HighLight1"><font face="Arial, Helvetica, sans-serif" color="#336699" size="2"><b>Headline 1 </b></font></a></td>
																									<td width="8" height="20">&nbsp;</td>
																								</tr>
																								<tr>
																									<td width="7" height="20">
																									<div align="right">
&nbsp;</div>
																									</td>
																									<td width="435" bgColor="#e4e4e4" height="20">
																									<div align="right">
																										<font face="Verdana, Arial, Helvetica, sans-serif" color="#cc0000" size="1"><a href="javascript:popup('heading.aspx?campid=8154&amp;id=300','600','240')"><img height="10" src="edit_icon.gif" width="28" border="0"><font face="Arial, Helvetica, sans-serif">Edit Heading</font></a></font></div>
																									</td>
																									<td width="8" height="20">&nbsp;</td>
																								</tr>
																							</table>
																							</td>
																						</tr>
																						<tr>
																							<td vAlign="top" colSpan="4">
																							<table cellSpacing="0" cellPadding="0" width="367" border="0" id="table25">
																								<tr>
																									<td width="225">&nbsp;</td>
																									<td width="225">&nbsp;</td>
																								</tr>
																							</table>
																							</td>
																						</tr>
																						<tr>
																							<td vAlign="top">
																							<div align="left">
																								<img id="Repeat__ctl0_img" height="120" src="http://mailgenie.biz/v3/files\clientData\0\templates\0\125x100.gif%20" width="125" border="0"><br>
&nbsp;</div>
																							</td>
																							<td width="18" rowSpan="2">&nbsp;</td>
																							<td vAlign="top" rowSpan="2"><font face="Arial, Helvetica, sans-serif" size="2">Here you can directly talk about the subject (products or services), which will be the core content. It will highlight the main features and explain the usability of the product or service being marketed. </font></td>
																							<td width="14" rowSpan="2">&nbsp;</td>
																						</tr>
																						<tr>
																							<td vAlign="bottom">
																							<div align="right">
																								<font face="Verdana, Arial, Helvetica, sans-serif" color="#cc0000" size="1"><a href="javascript:popup('changeimage.aspx?campid=8154&amp;id=300','600','240')"><img src="edit_icon.gif" border="0"><font face="Arial, Helvetica, sans-serif">Edit Image</font></a></font> 
																							</div>
																							</td>
																						</tr>
																						<tr>
																							<td>&nbsp;</td>
																							<td width="18">&nbsp;</td>
																							<td>
																							<div align="right">
																								<font face="Verdana, Arial, Helvetica, sans-serif" color="#cc0000" size="1"><a href="javascript:popup('Message.aspx?campid=8154&amp;id=300','600','440')"><img src="edit_icon.gif" border="0"><font face="Arial, Helvetica, sans-serif">Edit Message</font></a></font></div>
																							</td>
																							<td width="14">&nbsp;</td>
																						</tr>
																						<tr>
																							<td>&nbsp;</td>
																							<td width="18">&nbsp;</td>
																							<td>&nbsp;</td>
																							<td width="14">&nbsp;</td>
																						</tr>
																					</table>
																					</td>
																				</tr>
																				<tr>
																					<td>
																					<table height="1" cellSpacing="0" cellPadding="0" width="356" border="0" id="table26">
																						<tr>
																							<td vAlign="top" width="1">&nbsp;</td>
																							<td vAlign="top" colSpan="3">
																							<table cellSpacing="0" cellPadding="0" width="367" border="0" id="table27">
																								<tr>
																									<td width="7" height="20">&nbsp;</td>
																									<td width="435" bgColor="#e4e4e4" height="20"><a name="HighLight2"><font face="Arial, Helvetica, sans-serif" color="#336699" size="2"><b>Headline 2 </b></font></a></td>
																									<td width="8" height="20">&nbsp;</td>
																								</tr>
																								<tr>
																									<td width="7" height="20">&nbsp;</td>
																									<td width="435" bgColor="#e4e4e4" height="20">
																									<div align="right">
																										<font face="Verdana, Arial, Helvetica, sans-serif" color="#cc0000" size="1"><a href="javascript:popup('heading.aspx?campid=8154&amp;id=301','600','240')"><img height="10" src="edit_icon.gif" width="28" border="0"><font face="Arial, Helvetica, sans-serif">Edit Heading</font></a></font></div>
																									</td>
																									<td width="8" height="20">&nbsp;</td>
																								</tr>
																								<tr>
																									<td width="7" height="20">&nbsp;</td>
																									<td width="435" height="20">&nbsp;</td>
																									<td width="8" height="20">&nbsp;</td>
																								</tr>
																								<tr>
																									<td width="7" height="20">&nbsp;</td>
																									<td width="435" height="20">
																									<table cellSpacing="0" cellPadding="0" width="100%" border="0" id="table28">
																										<tr>
																											<td rowSpan="2"><font face="Arial, Helvetica, sans-serif" size="2">Here you can directly talk about the subject (products or services), which will be the core content. It will highlight the main features and explain the usability of the product or service being marketed. </font></td>
																											<td width="18" rowSpan="2">&nbsp;</td>
																											<td>
																											<div align="right">
																												<img id="Repeat__ctl1_img" height="120" src="http://mailgenie.biz/v3/files\clientData\0\templates\0\125x100.gif" width="125" border="0"> 
																											</div>
																											</td>
																										</tr>
																										<tr>
																											<td vAlign="bottom">
																											<div align="right">
																												<font face="Verdana, Arial, Helvetica, sans-serif" color="#cc0000" size="1"><a href="javascript:popup('changeimage.aspx?campid=8154&amp;id=301','600','240')"><img src="edit_icon.gif" border="0"><font face="Arial, Helvetica, sans-serif">Edit Image</font></a></font> 
																											</div>
																											</td>
																										</tr>
																										<tr>
																											<td>
																											<div align="right">
																												<font face="Verdana, Arial, Helvetica, sans-serif" color="#cc0000" size="1"><a href="javascript:popup('Message.aspx?campid=8154&amp;id=301','600','440')"><img src="edit_icon.gif" border="0"><font face="Arial, Helvetica, sans-serif">Edit Message</font></a></font></div>
																											</td>
																											<td>&nbsp;</td>
																											<td>&nbsp;</td>
																										</tr>
																									</table>
																									</td>
																									<td width="8" height="20">&nbsp;</td>
																								</tr>
																							</table>
																							</td>
																						</tr>
																					</table>
																					</td>
																				</tr>
																			</table>
																			</td>
																		</tr>
																	</table>
																	</td>
																	<td vAlign="top" width="243" bgColor="#e8e8e8" height="370">
																	<table cellSpacing="0" cellPadding="0" width="100%" bgColor="#949494" border="0" id="table29">
																		<tr>
																			<td bgColor="#336699" height="35">
																			<div align="center">
																				<font face="Verdana, Arial, Helvetica, sans-serif" color="#ffcc00"><b><font color="#ffffff" size="2"><span id="ContentHeading" reapeatdirection="vertical" repeatcoulmn="1">Heading(Introduction)</span></font></b></font></div>
																			<br>
																			<font face="Verdana, Arial, Helvetica, sans-serif" color="#cc0000" size="1">
																			<a href="javascript:popup('changeText.aspx?campid=8154&amp;fieldname=ContentHeading&amp;fieldlength=250','600','300')">
																			<font color="#ffffff">
																			<img src="edit_icon.gif" border="0"><font face="Arial, Helvetica, sans-serif">Edit 
																			Heading</font></font></a></font> 
																			</td>
																		</tr>
																		<tr>
																			<td vAlign="top" width="190" bgColor="#e8e8e8">
																			<table cellSpacing="0" cellPadding="0" width="187" border="0" id="table30">
																				<tr>
																					<td width="187" height="8">
																					<div align="center">
&nbsp;</div>
																					</td>
																				</tr>
																				<tr>
																					<td width="187" height="66">
																					<div align="center">
																						<img id="mainimage" height="65" src="http://mailgenie.biz/v3/files\clientData\0\templates\0\65x65.gif%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20" width="65"><br>
																						<font face="Verdana, Arial, Helvetica, sans-serif" color="#cc0000" size="1"><a href="javascript:popup('changeMimage.aspx?campid=8154','600','170')"><img src="edit_icon.gif" border="0"><font face="Arial, Helvetica, sans-serif">EditImage</font></a></font> </div>
																					</td>
																				</tr>
																				<tr>
																					<td width="187">
																					<table cellSpacing="0" cellPadding="0" width="180" border="0" id="table31">
																						<tr>
																							<td width="9">&nbsp;</td>
																							<td><font face="Arial, Helvetica, sans-serif" size="2"><span id="TemplateContent" reapeatdirection="vertical" repeatcoulmn="1">Here you can give a gist about the company, its activities and its future plans. You can specify your aim, goal or an objective. </span><br>
																							<font face="Verdana, Arial, Helvetica, sans-serif" color="#cc0000" size="1"><a href="javascript:popup('changeText.aspx?campid=8154&amp;fieldname=content&amp;fieldlength=1000','600','300')"><img src="edit_icon.gif" border="0"><font face="Arial, Helvetica, sans-serif">Edit Content</font></a></font> </font></td>
																						</tr>
																						<tr>
																							<td width="9" height="11">&nbsp;</td>
																							<td height="11">&nbsp;</td>
																						</tr>
																						<tr bgColor="#949494">
																							<td width="9" height="1"></td>
																							<td height="1"></td>
																						</tr>
																					</table>
																					<table cellSpacing="0" cellPadding="0" width="100%" border="0" id="table32">
																						<tr>
																							<td width="7" bgColor="#336699" height="30">&nbsp;</td>
																							<td bgColor="#336699" height="30"><font face="Verdana, Arial, Helvetica, sans-serif" color="#fee86b" size="2"><b><font color="#ffffff" size="3"><span id="linkheading1" reapeatdirection="vertical" repeatcoulmn="1">Quick Links(Heading)</span></font></b></font></td>
																						</tr>
																						<tr>
																							<td width="7" bgColor="#336699">&nbsp;</td>
																							<td bgColor="#336699">
																							<div align="right">
																								<a href="javascript:popup('changeText.aspx?campid=8154&amp;fieldname=linktext&amp;fieldlength=250','600','300')"><font face="Arial, Helvetica, sans-serif" color="#ffffff" size="1"><img src="edit_icon.gif" border="0">Edit Link Heading</font></a></div>
																							</td>
																						</tr>
																						<tr bgColor="#949494">
																							<td width="10" height="1"></td>
																							<td width="177" height="1"></td>
																						</tr>
																						<tr>
																							<td width="10" height="2"></td>
																							<td height="2">&nbsp;</td>
																						</tr>
																						<tr>
																							<td width="10" height="2">&nbsp;</td>
																							<td>
																							<table id="table33" style="border-collapse: collapse" cellSpacing="0" border="0" repeatcolumn="1">
																								<tr>
																									<td>
																									<table id="table34">
																										<tr>
																											<td height="29"><font face="Arial, Helvetica, sans-serif" size="2"><a href="#">Quick link 1 </a></font></td>
																										</tr>
																									</table>
																									</td>
																								</tr>
																								<tr>
																									<td>
																									<table id="table35">
																										<tr>
																											<td height="29"><font face="Arial, Helvetica, sans-serif" size="2"><a href="#">Quick link 2 </a></font></td>
																										</tr>
																									</table>
																									</td>
																								</tr>
																								<tr>
																									<td>
																									<table id="table36">
																										<tr>
																											<td height="29"><font face="Arial, Helvetica, sans-serif" size="2"><a href="#">Quick link 3 </a></font></td>
																										</tr>
																									</table>
																									</td>
																								</tr>
																								<tr>
																									<td>
																									<table id="table37">
																										<tr>
																											<td height="29"><font face="Arial, Helvetica, sans-serif" size="2"><a href="#">Quick link 4 </a></font></td>
																										</tr>
																									</table>
																									</td>
																								</tr>
																								<tr>
																									<td>
																									<table id="table38">
																										<tr>
																											<td height="29"><font face="Arial, Helvetica, sans-serif" size="2"><a href="#">Quick link 5 </a></font></td>
																										</tr>
																									</table>
																									</td>
																								</tr>
																								<tr>
																									<td>
																									<table id="table39">
																										<tr>
																											<td height="29"><font face="Arial, Helvetica, sans-serif" size="2"><a href="#">Quick link 6 </a></font></td>
																										</tr>
																									</table>
																									</td>
																								</tr>
																							</table>
																							</td>
																						</tr>
																						<tr>
																							<td width="10" height="2">&nbsp;</td>
																							<td>
																							<div align="right">
																								<font face="Verdana, Arial, Helvetica, sans-serif" color="#cc0000" size="1"><a href="javascript:popup('changelinks.aspx?campid=8154','600','440')"><img src="edit_icon.gif" border="0"><font face="Arial, Helvetica, sans-serif">Edit links</font></a></font> 
																							</div>
																							</td>
																						</tr>
																						<tr bgColor="#949494">
																							<td width="10" height="1"></td>
																							<td width="177" height="1"></td>
																						</tr>
																						<tr bgColor="#949494">
																							<td width="10" height="1"></td>
																							<td width="177" height="1"></td>
																						</tr>
																					</table>
																					</td>
																				</tr>
																				<tr>
																					<td width="187">
																					<table height="99%" cellSpacing="0" cellPadding="0" width="99%" align="center" id="table40">
																						<tr bgColor="#336699">
																							<td width="10" height="2">
																							<div align="center">
&nbsp;</div>
																							</td>
																							<td bgColor="#336699" height="30"><font face="Verdana, Arial, Helvetica, sans-serif" color="#fee86b" size="2"><b><font color="#ffffff" size="3">Mailing List...</font></b></font></td>
																						</tr>
																						<tr bgColor="#949494">
																							<td width="10" height="1"></td>
																							<td width="177" height="1"></td>
																						</tr>
																						<tr bgColor="#e8e8e8">
																							<td width="10" height="12">
																							<div align="center">
&nbsp;</div>
																							</td>
																							<td height="10">&nbsp;</td>
																						</tr>
																						<tr bgColor="#e8e8e8">
																							<td width="10" height="2">&nbsp;</td>
																							<td height="2"><font face="Arial, Helvetica, sans-serif" size="2">Join our mailing list!</font></td>
																						</tr>
																						<tr bgColor="#e8e8e8">
																							<td width="10">&nbsp;</td>
																							<td vAlign="top"><input name="textfield"> <br>
&nbsp;<table cellSpacing="2" cellPadding="0" width="100%" border="0" id="table41">
																								<tr>
																									<td width="48%">&nbsp;</td>
																									<td width="52%"><input type="button" value="Join" name="Button"> </td>
																								</tr>
																								<tr>
																									<td colSpan="2" height="10">&nbsp;</td>
																								</tr>
																							</table>
																							</td>
																						</tr>
																					</table>
																					</td>
																				</tr>
																				<tr>
																					<td width="187" bgColor="#336699">
																					<div align="right">
																						<font face="Verdana, Arial, Helvetica, sans-serif" color="#cc0000" size="1"><a href="javascript:popup('Mailinglist.aspx?campid=8154','600','140')"><font color="#ffffff"><img src="edit_icon.gif" border="0"><font face="Arial, Helvetica, sans-serif">Edit Mailing List</font></font></a></font></div>
																					</td>
																				</tr>
																			</table>
																			</td>
																		</tr>
																	</table>
																	</td>
																</tr>
															</table>
															</td>
														</tr>
														<tr bgColor="#ffffff">
															<td colSpan="5">&nbsp;</td>
														</tr>
														<tr bgColor="#ffffff">
															<td>&nbsp; </td>
														</tr>
													</table>
													</td>
												</tr>
											</table>
										</form>
										</td>
									</tr>
								</table>
								</td>
							</tr>
						</table>
						</td>
					</tr>
				</table>
				</td>
			</tr>
		</table>
		</td>
	</tr>
</table>

</body>

</html>
