<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>Give the company name&nbsp; Edit Head</title>
</head>

<body>

<table cellSpacing="0" cellPadding="0" width="769" align="center" border="0" id="table1">
	<tr>
		<td vAlign="top" width="757" background="bg1.gif">
		<table cellSpacing="0" cellPadding="0" width="100%" border="0" id="table2">
			<tr>
				<td vAlign="top" width="744" height="127">
				<table cellSpacing="0" cellPadding="0" width="400" align="center" border="0" id="table3">
					<tr>
						<td background="wizint.gif">
						<table cellSpacing="0" cellPadding="0" width="740" align="center" border="0" id="table4">
							<tr vAlign="top">
								<td>
								<table cellSpacing="0" cellPadding="0" width="100%" align="center" border="0" id="table5">
									<tr>
										<td vAlign="top" width="598">
										<form id="f1" name="f1" method="post" action="http://mailgenie.biz/v3/t18/T18template.aspx?campId=8156">
											<table cellSpacing="1" cellPadding="0" width="541" align="center" bgColor="#336699" border="0" id="table6">
												<tr>
													<td vAlign="top">
													<table cellSpacing="0" width="540" bgColor="#ffffff" border="0" id="table7">
														<tr>
															<td colSpan="2">
															<table cellSpacing="0" cellPadding="0" width="100%" background="template6_r1_c1.gif" border="0" id="table8">
																<tr>
																	<td>
																	<font face="Arial, Helvetica, sans-serif" color="#ffffff" size="3">
																	&nbsp;&nbsp;<font size="5"><span id="TemplateTitle" reapeatdirection="vertical" repeatcoulmn="1">Give 
																	the company 
																	name</span>
																	</font>
																	</font><br>
																	<font face="Verdana, Arial, Helvetica, sans-serif" color="#cc0000" size="1">
																	<a href="javascript:popup('changeText.aspx?campid=8156&amp;fieldname=templatetitle&amp;fieldlength=200','600','300')">
																	<font color="#ffffff">
																	<img src="edit_icon.gif" border="0"><font face="Arial, Helvetica, sans-serif">Edit 
																	Heading</font></font></a></font></td>
																	<td>
																	<div align="right">
																		<br>
																		<br>
																		<font face="Verdana, Arial, Helvetica, sans-serif" color="#cc0000" size="1">
																		<a href="javascript:popup('changelogo.aspx?campid=8156','600','170')">
																		<font color="#ffffff">
																		<img src="edit_icon.gif" border="0"><font face="Arial, Helvetica, sans-serif">EditImage</font></font></a></font> 
																	</div>
																	</td>
																</tr>
																<tr>
																	<td height="2">
																	&nbsp;</td>
																	<td height="2">
																	&nbsp;</td>
																</tr>
															</table>
															</td>
														</tr>
														<tr>
															<td>&nbsp;</td>
															<td>
															<font face="arial" size="2">
															<b>
															<span id="ContentHeading" reapeatdirection="vertical" repeatcoulmn="1">
															Heading for the 
															introduction</span></b></font> 
															</td>
														</tr>
														<tr>
															<td>&nbsp;</td>
															<td>
															<div align="right">
																<font face="Verdana, Arial, Helvetica, sans-serif" color="#cc0000" size="1">
																<a href="javascript:popup('changeText.aspx?campid=8156&amp;fieldname=MessageHeading&amp;fieldlength=200','600','300')">
																<img src="edit_icon.gif" border="0"><font face="Arial, Helvetica, sans-serif">Edit 
																Heading</font></a></font></div>
															</td>
														</tr>
														<tr>
															<td>&nbsp;</td>
															<td>
															<font face="arial" size="2">
															<span id="TemplateContent" reapeatdirection="vertical" repeatcoulmn="1">
															Here you can give a 
															gist about the 
															company, its 
															activities and its 
															future plans. You 
															can specify your 
															aim, goal or an 
															objective.</span>
															</font></td>
														</tr>
														<tr>
															<td>&nbsp;</td>
															<td>
															<div align="right">
																<font face="Verdana, Arial, Helvetica, sans-serif" color="#cc0000" size="1">
																<a href="javascript:popup('changeText.aspx?campid=8156&amp;fieldname=Message&amp;fieldlength=1000','600','440')">
																<img src="edit_icon.gif" border="0"><font face="Arial, Helvetica, sans-serif">Edit 
																Message</font></a></font></div>
															</td>
														</tr>
														<tr>
															<td>&nbsp;</td>
															<td>&nbsp;</td>
														</tr>
														<tr>
															<td>&nbsp;</td>
															<td>
															<table cellSpacing="1" cellPadding="2" width="99%" bgColor="#cc0033" border="0" id="table9">
																<tr>
																	<td width="48%">
																	<font face="Arial," color="white" size="2" helvetica,="Helvetica," sans-serif="sans-serif">
																	<b>
																	<span id="RHeading1" reapeatdirection="vertical" repeatcoulmn="1">
																	Section 
																	heading</span></b></font></td>
																	<td width="4%" bgColor="#ffffff">
																	&nbsp;</td>
																	<td width="48%">
																	<font face="Arial," color="white" size="2" helvetica,="Helvetica," sans-serif="sans-serif">
																	<b>
																	<span id="RHeading2" reapeatdirection="vertical" repeatcoulmn="1">
																	Section 
																	heading</span>
																	</b></font>
																	</td>
																</tr>
																<tr>
																	<td width="48%">
																	<div align="right">
																		<font face="Verdana, Arial, Helvetica, sans-serif" color="#cc0000" size="1">
																		<a href="javascript:popup('heading.aspx?campid=8156&amp;id=137','600','240')">
																		<font color="#ffffff">
																		<img src="edit_icon.gif" border="0"><font face="Arial, Helvetica, sans-serif">Edit 
																		Heading</font></font></a></font></div>
																	</td>
																	<td width="4%" bgColor="#ffffff">
																	&nbsp;</td>
																	<td width="48%">
																	<div align="right">
																		<font face="Verdana, Arial, Helvetica, sans-serif" color="#cc0000" size="1">
																		<a href="javascript:popup('heading.aspx?campid=8156&amp;id=138','600','240')">
																		<font color="#ffffff">
																		<img src="edit_icon.gif" border="0"><font face="Arial, Helvetica, sans-serif">Edit 
																		Heading</font></font></a></font></div>
																	</td>
																</tr>
																<tr>
																	<td vAlign="top" width="48%" bgColor="#ffffff">
																	<font face="Arial," size="2" sans-serif Helvetica,>
																	<span id="RContent1" reapeatdirection="vertical" repeatcoulmn="1">
																	Here you can 
																	directly 
																	talk about 
																	the subject 
																	(products or 
																	services), 
																	which will 
																	be the core 
																	content. It 
																	will 
																	highlight 
																	the main 
																	features and 
																	explain the 
																	usability of 
																	the product 
																	or service 
																	being 
																	marketed.
																	</span>
																	</font></td>
																	<td width="4%" bgColor="#ffffff">
																	&nbsp;</td>
																	<td vAlign="top" width="48%" bgColor="#ffffff">
																	<font face="Arial," size="2" sans-serif Helvetica,>
																	<span id="RContent2" reapeatdirection="vertical" repeatcoulmn="1">
																	Here you can 
																	directly 
																	talk about 
																	the subject 
																	(products or 
																	services), 
																	which will 
																	be the core 
																	content. It 
																	will 
																	highlight 
																	the main 
																	features and 
																	explain the 
																	usability of 
																	the product 
																	or service 
																	being 
																	marketed.
																	</span>
																	</font></td>
																</tr>
																<tr>
																	<td vAlign="top" width="48%" bgColor="#ffffff">
																	<div align="right">
																		<font face="Verdana, Arial, Helvetica, sans-serif" color="#cc0000" size="1">
																		<a href="javascript:popup('Message.aspx?campid=8156&amp;id=137','600','440')">
																		<img src="edit_icon.gif" border="0"><font face="Arial, Helvetica, sans-serif">Edit 
																		Message</font></a></font></div>
																	</td>
																	<td width="4%" bgColor="#ffffff">
																	&nbsp;</td>
																	<td vAlign="top" width="48%" bgColor="#ffffff">
																	<div align="right">
																		<font face="Verdana, Arial, Helvetica, sans-serif" color="#cc0000" size="1">
																		<a href="javascript:popup('Message.aspx?campid=8156&amp;id=138','600','440')">
																		<img src="edit_icon.gif" border="0"><font face="Arial, Helvetica, sans-serif">Edit 
																		Message</font></a></font></div>
																	</td>
																</tr>
															</table>
															<table cellSpacing="0" cellPadding="0" width="99%" border="0" id="table10">
																<tr>
																	<td>&nbsp;</td>
																</tr>
																<tr>
																	<td>
																	<img height="8" src="http://mailgenie.biz/v3/t18/images/template6_r5_c1.gif" width="100%" border="0"></td>
																</tr>
																<tr>
																	<td>&nbsp;</td>
																</tr>
															</table>
															</td>
														</tr>
														<tr>
															<td>&nbsp;</td>
															<td><font size="2">
															<font face="Arial, Helvetica, sans-serif">
															<span id="closingmessage" reapeatdirection="vertical" repeatcoulmn="1">
															</span></font><br>
&nbsp;</font></td>
														</tr>
														<tr>
															<td>&nbsp;</td>
															<td>
															<div align="right">
																<font face="Verdana, Arial, Helvetica, sans-serif" color="#cc0000" size="1">
																<a href="javascript:popup('changecmessage.aspx?campid=8156&amp;fieldname=topimage','600','440')">
																<img src="edit_icon.gif" border="0"><font face="Arial, Helvetica, sans-serif">Edit 
																closing message</font></a></font></div>
															</td>
														</tr>
														<tr>
															<td>&nbsp;</td>
															<td>&nbsp;</td>
														</tr>
													</table>
													</td>
												</tr>
											</table>
										</form>
										</td>
									</tr>
								</table>
								</td>
							</tr>
						</table>
						</td>
					</tr>
				</table>
				</td>
			</tr>
		</table>
		</td>
	</tr>
</table>

</body>

</html>
