<html>
	<head>
		<title>Your Smartphi Password.</title></head>
	<body>
		<p>[$Username$],</p>
		<p>You requested that your password for ASP.NET Forums be sent to you via email.</p>
		<p>Kindly keep the account details for any further refrence.<br>
			<b>Username: [$Username$]</b><br>
			<b>Password: [$Password$]</b></p>
		<p>Click on the link to login into your Smartphi account</p>
		<p><a href="[$LoginURL$]">[$LoginURL$]</a></p>
		<p>Sincerely,</p>
		<p>Customer Services</p>
		<br>[$CompanyName$]
		<p>&nbsp;</p>
