<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>HIGHLIGHT 1</title>
</head>

<body>

<table cellSpacing="0" cellPadding="0" width="769" align="center" border="0" id="table1">
	<tr>
		<td vAlign="top" width="757" background="Images/bg1.gif">
		<table cellSpacing="0" cellPadding="0" width="100%" border="0" id="table2">
			<tr>
				<td vAlign="top" width="744" height="127">
				<table cellSpacing="0" cellPadding="0" width="400" align="center" border="0" id="table3">
					<tr>
						<td background="Images/wizint.gif">
						<table cellSpacing="0" cellPadding="0" width="740" align="center" border="0" id="table4">
							<tr vAlign="top">
								<td width="607" height="244">
								<table cellSpacing="0" cellPadding="0" width="100%" align="center" border="0" id="table5">
									<tr>
										<td vAlign="top" width="598">
										<input id="campId" type="hidden" value="8152" name="campId">
										<table cellSpacing="1" cellPadding="0" width="90%" align="center" bgColor="#336699" border="0" id="table6">
											<tr>
												<td vAlign="top">
												<table cellSpacing="0" cellPadding="0" width="646" align="center" border="0" id="table7">
													<tr>
														<td bgColor="#ffffff" height="80">
														<div class="box22">
															<table cellSpacing="0" cellPadding="1" width="100%" bgColor="#000000" border="0" id="table8">
																<tr>
																	<td>
																	<table cellSpacing="0" cellPadding="0" width="100%" bgColor="#ffffff" border="0" id="table9">
																		<tr>
																			<td>
																			<img height="9" src="Images/top_line.gif" width="646"></td>
																		</tr>
																		<tr>
																			<td>
																			<table cellSpacing="0" cellPadding="0" width="100%" border="0" id="table10">
																				<tr>
																					<td align="right" width="27%" rowSpan="2">
																					<table cellSpacing="0" cellPadding="2" width="96%" border="0" id="table11">
																						<tr vAlign="top">
																							<td align="right" width="84%" height="20"><span class="text0"><a href="#Highlight1"><font face="Arial, Helvetica, sans-serif" color="#003399" size="1"><span id="TContent1" reapeatdirection="vertical" repeatcoulmn="1"><$lnkHighlight2/$></span></font></a></span><br><*$lnkHighlight2/$*></td>
																							<td align="right" width="16%" height="20"><img height="10" src="Images/Picture13.gif" width="10"></td>
																						</tr>
																						<tr vAlign="top">
																							<td align="right" width="84%" height="20">
																							<div class="para0">
																								<div class="para0">
																									<a href="#HighLight2"><font face="Arial, Helvetica, sans-serif" color="#003399" size="1"><span class="text0"><span id="TContent2" reapeatdirection="vertical" repeatcoulmn="1"><$lnkHighlight3/$></span></span></font></a><br><*$lnkHighlight3/$*></div>
																							</div>
																							</td>
																							<td align="right" width="16%" height="20"><img height="10" src="Images/Picture13.gif" width="10"></td>
																						</tr>
																						<tr vAlign="top">
																							<td align="right" width="84%" height="20">
																							<div class="para0">
																								<a href="#Highlight3"><font face="Arial, Helvetica, sans-serif" color="#003399" size="1"><span class="text0"><span id="TContent3" reapeatdirection="vertical" repeatcoulmn="1"><$lnkHighlight4/$></span></span></font></a><br><*$lnkHighlight4/$*></div>
																							</td>
																							<td align="right" width="16%" height="20"><img height="10" src="Images/Picture13.gif" width="10" border="0"></td>
																						</tr>
																						<tr vAlign="top">
																							<td align="right" width="84%" height="20">
																							<div class="para0">
																								<a href="#HighLight4"><font face="Arial, Helvetica, sans-serif" color="#003399" size="1"><span class="text0"><span id="TContent4" reapeatdirection="vertical" repeatcoulmn="1"><$lnkHighlight5/$></span></span></font></a><br><*$lnkHighlight5/$*></div>
																							</td>
																							<td align="right" width="16%" height="20"><img height="10" src="Images/Picture13.gif" width="10"></td>
																						</tr>
																						<tr vAlign="top">
																							<td align="right" width="84%" height="20">
																							<div class="para0">
																								<a href="#HighLight5"><font face="Arial, Helvetica, sans-serif" color="#003399" size="1"><span class="text0"><span id="TContent5" reapeatdirection="vertical" repeatcoulmn="1"><$lnkHighlight6/$></span></span></font></a><br><*$lnkHighlight6/$*></div>
																							</td>
																							<td align="right" width="16%" height="20"><img height="10" src="Images/Picture13.gif" width="10"></td>
																						</tr>
																					</table>
																					</td>
																					<td align="middle" width="73%">
																					<div class="para2">
																						<span class="text12">
																							<font face="Arial, Helvetica, sans-serif" size="2">
																							<font color="#666666"><$Header1/$></font><br>
																							<div align="center"><*$Header1/$*></div>
																						</font>
																						</span></div>
																					</td>
																				</tr>
																				<tr>
																					<td align="middle" width="73%" height="195"><$imgHeader1/$> 
																					<div align="center"><*$imgHeader1/$*></div>
																					</td>
																				</tr>
																			</table>
																			</td>
																		</tr>
																		<tr>
																			<td>
																			&nbsp;</td>
																		</tr>
																		<tr>
																			<td>
																			<img height="9" src="Images/bottom_line.gif" width="646"></td>
																		</tr>
																	</table>
																	</td>
																</tr>
															</table>
															&nbsp;</div>
														</td>
													</tr>
													<tr>
														<td>
														<table cellSpacing="0" cellPadding="1" width="100%" bgColor="#000000" border="0" id="table12">
															<tr>
																<td bgColor="#000000">
																<table cellSpacing="0" cellPadding="0" width="100%" border="0" id="table13">
																	<tr>
																		<td vAlign="top" align="left" width="24%" bgColor="#ffffff">
																		<table cellSpacing="0" cellPadding="0" width="100%" border="0" id="table14">
																			<tr>
																				<td vAlign="top" align="left">
																				<table cellSpacing="0" cellPadding="0" width="99%" border="0" id="table15">
																					<tr>
																						<td vAlign="center" align="middle" bgColor="#dfdfdf">
																						<div align="left">
																							<br>
																						&nbsp;<table cellSpacing="0" cellPadding="0" width="70%" align="center" border="0" id="table16">
																								<tr>
																									<td>
																									<div align="left">
																										<span class="text13"><font face="Arial, Helvetica, sans-serif" size="1"><span id="Left1" reapeatdirection="vertical" repeatcoulmn="1"><$cntImage1/$></span> </font></span></div>
																									</td>
																								</tr>
																								<tr>
																									<td>
																									<div align="right">
																										<font face="Verdana, Arial, Helvetica, sans-serif" color="#cc0000" size="1"><*$cntImage1/$*></font><br>
																									</div>
																									</td>
																								</tr>
																							</table>
																						</div>
																						</td>
																					</tr>
																					<tr>
																						<td vAlign="center" align="middle" bgColor="#dfdfdf"><br>
&nbsp;<table cellSpacing="1" cellPadding="1" width="60%" border="0" id="table17">
																							<tr>
																								<td bgColor="#003399">
																								<div align="center">
																								<$imgPath2/$></div>
																								<div align="right">
																									<font face="Verdana, Arial, Helvetica, sans-serif" color="#cc0000" size="1"><*$imgPath2/$*></font> 
																								</div>
																								</td>
																							</tr>
																						</table>
																						<br>
&nbsp;</td>
																					</tr>
																					<tr>
																						<td bgColor="#dfdfdf"><img height="7" src="Images/line_yellow.gif" width="159"></td>
																					</tr>
																					<tr>
																						<td vAlign="center" align="middle" bgColor="#dfdfdf" height="18">
																						&nbsp;</td>
																					</tr>
																					<tr>
																						<td bgColor="#dfdfdf"><img height="7" src="Images/line_yellow.gif" width="159"></td>
																					</tr>
																					<tr>
																						<td vAlign="center" align="middle" bgColor="#dfdfdf"><font color="#cc0000" size="1"><font face="Arial, Helvetica, sans-serif">PhoneTrade.cc</font></font>&nbsp;</td>
																					</tr>
																					<tr>
																						<td bgColor="#dfdfdf"><img height="7" src="Images/line_yellow.gif" width="159"></td>
																					</tr>
																					</table>
																				</td>
																				<td vAlign="top" align="left"><img height="797" src="http://mailgenie.biz/v3/t44/images/black_line.gif" width="1"></td>
																			</tr>
																		</table>
																		</td>
																		<td vAlign="top" align="left" width="76%" bgColor="#ffffff">
																		<table cellSpacing="0" cellPadding="0" width="92%" align="center" border="0" id="table22">
																			<tr>
																				<td>
																				<div class="para3">
																					<font face="Arial, Helvetica, sans-serif" color="#001f80" size="2">
																						<b><span id="ContentHeading12" reapeatdirection="vertical" repeatcoulmn="1"><$txtHighlight1/$></span></b><br>
																					</font><*$txtHighlight1/$*>
																				</div> 
&nbsp;</span></font></div>														<div class="para4"><br>
																					<span class="text11">
																					<font face="Arial, Helvetica, sans-serif" size="1">
																					<$cntHighlight1/$></font></span><br>
																					<*$cntHighlight1/$*><br>
																					<span class="text5"><font face="Times New Roman, Times, serif" size="2"><span id="Content2" reapeatdirection="vertical" repeatcoulmn="1"><br>
																					you can define the content by clicking on the link above (products or services) and will be the core content. It will highlight the main features and explain the usability of the product or service being marketed. </span></font></span>
																				</div>
																				</td>
																			</tr>
																		</table>
																		</td>
																	</tr>
																	<tr>
																		<td colSpan="2">
																		<img height="9" src="Images/bottom_line.gif" width="646"></td>
																	</tr>
																</table>
																</td>
															</tr>
														</table>
														</td>
													</tr>
													<tr>
														<td bgColor="#ffffff">
														<div class="box8">
&nbsp;</div>
														</td>
													</tr>
												</table>
												</td>
											</tr>
										</table>
										</td>
									</tr>
								</table>
								</td>
							</tr>
						</table>
						</td>
					</tr>
				</table>
				</td>
			</tr>
		</table>
		</td>
	</tr>
</table>

</body>

</html>