<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>IRE&nbsp; Edit Title</title>
</head>

<body>

<table cellSpacing="0" cellPadding="0" width="769" align="center" border="0" id="table1">
	<tr>
		<td vAlign="top" width="757" background="../../../Documents%20and%20Settings/Ali/Desktop/Template/images/bg1.gif">
		<table cellSpacing="0" cellPadding="0" width="100%" border="0" id="table2">
			<tr>
				<td vAlign="top" width="744" height="127">
				<table cellSpacing="0" cellPadding="0" width="400" align="center" border="0" id="table3">
					<tr>
						<td background="../../../Documents%20and%20Settings/Ali/Desktop/Template/images/wizint.gif">
						<table cellSpacing="0" cellPadding="0" width="740" align="center" border="0" id="table4">
							<tr vAlign="top">
								<td width="607" height="244">
								<table cellSpacing="0" cellPadding="0" width="100%" align="center" border="0" id="table5">
									<tr>
										<td vAlign="top" width="598">
										<form id="f1" name="f1" method="post" action="http://mailgenie.biz/v3/t40/t40template.aspx?campId=8104">
											<table cellSpacing="1" cellPadding="0" width="90%" align="center" bgColor="#336699" border="0" id="table6">
												<tr>
													<td vAlign="top">
													<table cellSpacing="1" cellPadding="0" width="560" align="center" bgColor="#000000" border="0" id="table7">
														<tr>
															<td width="557" bgColor="#ffffff">
															<table cellSpacing="0" cellPadding="0" width="559" border="0" id="table8">
																<tr>
																	<td vAlign="top" width="558" bgColor="#3a8dcb" height="82">
																	<table cellSpacing="0" cellPadding="0" width="560" border="0" id="table9">
																		<tr bgColor="#000943">
																			<td bgColor="#ffffff" height="63">
																			<div align="center">
&nbsp;</div>
																			<div align="center">
																				<font face="Arial, Helvetica, sans-serif" color="#000000" size="4"><span id="TemplateTitle" reapeatdirection="vertical" repeatcoulmn="1"><$MainHeading/$></span></font> <br>
																				<a href="javascript:popup('changeText.aspx?campid=8104&amp;fieldname=templatetitle&amp;fieldlength=200','600','300')"><*$MainHeading/$*></font></a></div>
																			</td>
																		</tr>
																	</table>
																	</td>
																</tr>
															</table>
															<table cellSpacing="0" cellPadding="0" width="558" border="0" id="table10">
																<tr>
																	<td bgColor="#000943" height="1">&nbsp;</td>
																</tr>
															</table>
															<table height="18" cellSpacing="0" cellPadding="0" width="559" border="0" id="table11">
																<tr>
																	<td width="342" bgColor="#9dc7e6">
																	<div align="center">
																		<font color="#333333" size="4" face="Arial, Helvetica, sans-serif"><$SubHeading/$></font></div>
																	</td>
																	<td width="217" bgColor="#9dc7e6">&nbsp;
																	</td>
																</tr>
															</table>
															<table cellSpacing="0" cellPadding="0" width="556" border="0" id="table12">
																<tr>
																	<td width="1" height="315">&nbsp;
																	</td>
																	<td vAlign="top" width="559" height="315">
																	<table cellSpacing="0" cellPadding="0" width="556" border="0" id="table13">
																		<tr>
																			<td vAlign="top" width="342" bgColor="#ffffff">
																			<table cellSpacing="0" cellPadding="0" width="333" align="center" border="0" id="table14">
																				<tr>
																					<td width="333">
																					<div align="right">
																						<font face="Verdana, Arial, Helvetica, sans-serif" color="#cc0000" size="1"><*$SubHeading/$*></font></div>
																					</td>
																				</tr>
																				<tr>
																					<td width="333">
																					<table cellSpacing="0" cellPadding="2" width="323" align="left" bgColor="#000000" border="0" id="table15">
																						<tr>
																							<td vAlign="top" width="317" bgColor="#ffffff" height="395"><font face="Arial, Helvetica, sans-serif" size="2"><span id="ContentTop" reapeatdirection="vertical" repeatcoulmn="1"><$HeaderContent/$></span>
																							<br>&nbsp;</font><div align="right">
																							<font face="Verdana, Arial, Helvetica, sans-serif" color="#cc0000" size="1"><*$HeaderContent/$*></font></div>
																							<br>&nbsp;
																							<table cellSpacing="0" cellPadding="0" width="322" border="0" id="table16">
																								<tr>
																									<td width="172">
																									<table height="145" cellSpacing="1" cellPadding="0" width="163" bgColor="#000000" border="0" id="table17"><tr>
																											<td bgColor="#cae0f1" height="136"><$ImageTag/$> 
																											</td>
																										</tr>
																									</table>
																									<div align="right">
																										<font face="Verdana, Arial, Helvetica, sans-serif" color="#cc0000" size="1"><a href="javascript:popup('changeimage.aspx?campid=8104&amp;fieldname=img2&amp;fieldlength=100','600','240')"><*$ImageTag/$*></a></font></div>
																									</td>
																									<td vAlign="top" width="148">
																										<div align="right"><font size="2" face="Arial, Helvetica, sans-serif"><$Linkhref/$></font><br>
																										<font face="Verdana, Arial, Helvetica, sans-serif" color="#cc0000" size="1"><*$ImageTag/$*></font><br>
																										<font face="Verdana, Arial, Helvetica, sans-serif" color="#cc0000" size="1"></font></div>
																									</td>
																								</tr>
																								<tr>
																									<td width="172">&nbsp;</td>
																									<td vAlign="top" width="148">&nbsp;</td>
																								</tr>
																							</table>
																							<table cellSpacing="0" cellPadding="0" width="322" border="0" id="table18">
																								<tr>
																									<td width="172">
																									<table height="145" cellSpacing="1" cellPadding="0" width="163" bgColor="#000000" border="0" id="table19">
																										<tr>
																											<td bgColor="#cae0f1" height="136"><$ImageTag2/$> 
																											</td>
																										</tr>
																									</table>
																									<div align="right">
																										<font face="Verdana, Arial, Helvetica, sans-serif" color="#cc0000" size="1"><*$ImageTag2/$*></font></div>
																									</td>
																									<td vAlign="top" width="148">
																										<div align="right"><font size="2" face="Arial, Helvetica, sans-serif"><$ImageContent1/$></font><br>
																										<font face="Verdana, Arial, Helvetica, sans-serif" color="#cc0000" size="1"><*$ImageContent1/$*></font><br>
																										<font face="Verdana, Arial, Helvetica, sans-serif" color="#cc0000" size="1"></font></div>
																									</td>
																								</tr>
																								<tr>
																									<td width="172">&nbsp;</td>
																									<td vAlign="top" width="148">&nbsp;</td>
																								</tr>
																							</table>
																							</td>
																						</tr>
																					</table>
																					</td>
																				</tr>
																				<tr>
																					<td width="333">&nbsp;</td>
																				</tr>
																				<tr>
																					<td width="333">
																					<br>&nbsp;
																					<p>
																					<br>
																					&nbsp;<br></p>
																					</td>
																				</tr>
																				<tr>
																					<td width="333">&nbsp;</td>
																				</tr>
																			</table>
																			</td>
																			<td width="1" bgColor="#000000">&nbsp;</td>
																			<td vAlign="top" width="214" bgColor="#ffffff">
																			&nbsp;<br>
&nbsp;</td>
																		</tr>
																	</table>
																	</td>
																</tr>
															</table>
															</td>
														</tr>
													</table>
													</td>
												</tr>
											</table>
										</form>
										</td>
									</tr>
								</table>
								</td>
							</tr>
						</table>
						</td>
					</tr>
				</table>
				</td>
			</tr>
		</table>
		<img width='1' height='1' src="http://www.mobiphi.com/oneby1.asp?[$track$]" alt="">
		</td>
	</tr>
</table>

</body>

</html>
