<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>IRE</title>
</head>

<body>

<table cellSpacing="0" cellPadding="0" width="769" align="center" border="0" id="table1">
	<tr>
		<td vAlign="top" width="757" background="bg1.gif">
		<table cellSpacing="0" cellPadding="0" width="100%" border="0" id="table2">
			<tr>
				<td vAlign="top" width="744" height="127">
				<table cellSpacing="0" cellPadding="0" width="400" align="center" border="0" id="table3">
					<tr>
						<td background="wizint.gif">
						<table cellSpacing="0" cellPadding="0" width="740" align="center" border="0" id="table4">
							<tr vAlign="top">
								<td width="607" height="244">
								<table cellSpacing="0" cellPadding="0" width="100%" align="center" border="0" id="table5">
									<tr>
										<td vAlign="top" width="598">
										<form id="f1" name="f1" method="post" action="http://mailgenie.biz/v3/t25/t25template.aspx?campId=8155">
											<table cellSpacing="1" cellPadding="0" width="90%" align="center" bgColor="#336699" border="0" id="table6">
												<tr>
													<td vAlign="top">
													<table cellSpacing="0" cellPadding="0" width="100%" bgColor="#ffffff" border="0" id="table7">
														<tr>
															<td>
															<div align="center">
&nbsp;</div>
															</td>
														</tr>
														<tr>
															<td>&nbsp;</td>
														</tr>
													</table>
													<table cellSpacing="1" cellPadding="0" width="560" bgColor="#35424f" border="0" id="table8">
														<tr>
															<td vAlign="top" bgColor="#ffffff">
															<table height="9" cellSpacing="0" cellPadding="0" width="100%" border="0" id="table9">
																<tr bgColor="#4ab9fb">
																	<td height="61">
																	<div align="center">
																		<font face="Times New Roman, Times, serif" color="#ffffff" size="7">
																		<span id="TemplateTitle" reapeatdirection="vertical" repeatcoulmn="1">
																		IRE</span>
																		</font>
																		<br>
&nbsp;</div>
																	<div align="right">
																		<font face="Verdana, Arial, Helvetica, sans-serif" color="#cc0000" size="1">
																		<a href="javascript:popup('changeText.aspx?campid=8155&amp;fieldname=templatetitle&amp;fieldlength=250','600','300')">
																		<img src="edit_icon.gif" border="0"><font face="Arial, Helvetica, sans-serif">Edit 
																		Heading</font></a></font> 
																	</div>
																	</td>
																</tr>
															</table>
															<table cellSpacing="0" cellPadding="0" width="100%" border="0" id="table10">
																<tr>
																	<td bgColor="#fae25a" height="11">
																	<font color="#fae25a" size="1">
																	aa</font></td>
																</tr>
															</table>
															<table cellSpacing="0" cellPadding="0" width="560" border="0" id="table11">
																<tr>
																	<td vAlign="top" width="294" height="139">
																	<table cellSpacing="0" cellPadding="0" width="293" border="0" id="table12">
																		<tr>
																			<td height="21">
																			&nbsp;</td>
																			<td height="21">
																			<font face="Arial, Helvetica, sans-serif" color="#336699" size="3">
																			<b>
																			<font color="#2e7875" size="2">
																			<span id="RepeatingsectionHeading" reapeatdirection="vertical" repeatcoulmn="1">
																			Heading 
																			for 
																			the 
																			highlights 
																			to 
																			be 
																			placed 
																			here</span></font></b></font> 
																			</td>
																		</tr>
																		<tr>
																			<td vAlign="top" colSpan="2">
																			<div align="right">
																				<font face="Verdana, Arial, Helvetica, sans-serif" color="#cc0000" size="1"><a href="javascript:popup('changeText.aspx?campid=8155&amp;fieldname=Repeatingsectionheading&amp;fieldlength=250','600','300')"><img src="edit_icon.gif" border="0"><font face="Arial, Helvetica, sans-serif">Edit Heading</font></a> </font>
																			</div>
																			</td>
																		</tr>
																		<tr>
																			<td vAlign="top" colSpan="2" height="25">
																			<table id="table13" style="border-collapse: collapse" cellSpacing="0" border="0" repeatcolumn="1">
																				<tr>
																					<td>
																					<table cellSpacing="0" cellPadding="0" width="100%" border="0" id="table14">
																						<tr vAlign="top">
																							<td width="4%" height="20">
																							<div align="center">
																								<img height="12" src="dot.gif" width="12"></div>
																							</td>
																							<td width="96%" height="20"><font face="Arial, Helvetica, sans-serif" color="#000000" size="2"><a href="#HighLight1">Headline 1 </a></font></td>
																						</tr>
																					</table>
																					</td>
																				</tr>
																				<tr>
																					<td>
																					<table cellSpacing="0" cellPadding="0" width="100%" border="0" id="table15">
																						<tr vAlign="top">
																							<td width="4%" height="20">
																							<div align="center">
																								<img height="12" src="dot.gif" width="12"></div>
																							</td>
																							<td width="96%" height="20"><font face="Arial, Helvetica, sans-serif" color="#000000" size="2"><a href="#HighLight2">Headline 2 </a></font></td>
																						</tr>
																					</table>
																					</td>
																				</tr>
																			</table>
																			</td>
																		</tr>
																	</table>
																	</td>
																	<td vAlign="top" align="right" width="10" bgColor="#cccccc" height="139">
																	&nbsp; </td>
																	<td vAlign="top" align="right" width="256" height="139">
																	<table cellSpacing="0" cellPadding="0" width="100%" border="0" id="table16">
																		<tr>
																			<td height="15">
																			&nbsp;</td>
																		</tr>
																		<tr>
																			<td>
																			<font face="Arial, Helvetica, sans-serif" color="#f2a606" size="2">
																			&nbsp;&nbsp;&nbsp;&nbsp;<b><span id="ContentHeading" reapeatdirection="vertical" repeatcoulmn="1">Heading(Introduction)</span></b></font> 
																			</td>
																		</tr>
																		<tr>
																			<td>
																			<div align="right">
																				<font face="Verdana, Arial, Helvetica, sans-serif" color="#cc0000" size="1"><a href="javascript:popup('changeText.aspx?campid=8155&amp;fieldname=ContentHeading&amp;fieldlength=250','600','300')"><font color="#0000ff"><img src="edit_icon.gif" border="0"><font face="Arial, Helvetica, sans-serif">Edit Heading</font></font></a></font> 
																			</div>
																			</td>
																		</tr>
																		<tr>
																			<td height="15">
																			<hr>
																			</td>
																		</tr>
																		<tr>
																			<td>
																			<div align="center">
																				&nbsp;&nbsp;&nbsp;<img id="mainimage" height="65" src="http://mailgenie.biz/v3/files\clientData\0\templates\0\65x65.gif%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20" width="65"><br>
																				<font face="Verdana, Arial, Helvetica, sans-serif" color="#cc0000" size="1"><a href="javascript:popup('changeMimage.aspx?campid=8155','600','170')"><img src="edit_icon.gif" border="0"><font face="Arial, Helvetica, sans-serif">EditImage</font></a></font></div>
																			</td>
																		</tr>
																		<tr>
																			<td height="2">
																			<hr>
																			</td>
																		</tr>
																		<tr>
																			<td height="2">
																			<table cellSpacing="0" cellPadding="0" width="100%" border="0" id="table17">
																				<tr>
																					<td width="4%">&nbsp;</td>
																					<td><font face="Arial, Helvetica, sans-serif" size="2"><span id="TemplateContent" reapeatdirection="vertical" repeatcoulmn="1">Here you can give a gist about the company, its activities and its future plans. You can specify your aim, goal or an objective. </span></font>.</td>
																				</tr>
																				<tr>
																					<td width="4%">&nbsp;</td>
																					<td>
																					<div align="right">
																						<font face="Verdana, Arial, Helvetica, sans-serif" color="#cc0000" size="1"><a href="javascript:popup('changeText.aspx?campid=8155&amp;fieldname=content&amp;fieldlength=2000','600','300')"><img src="edit_icon.gif" border="0"><font face="Arial, Helvetica, sans-serif">Edit Content</font></a></font> 
																					</div>
																					</td>
																				</tr>
																			</table>
																			</td>
																		</tr>
																	</table>
																	</td>
																</tr>
															</table>
															<table cellSpacing="0" cellPadding="0" width="533" border="0" id="table18">
																<tr>
																	<td>
																	<table id="table19" style="width: 100%; border-collapse: collapse" cellSpacing="0" border="0">
																		<tr>
																			<td>
																			<table cellSpacing="0" cellPadding="0" width="560" border="0" id="table20">
																				<tr bgColor="#fae25a">
																					<td width="13" height="18">&nbsp;</td>
																					<td width="638" height="18">
																					<div align="right">
&nbsp;</div>
																					<div align="left">
																						<font face="Arial, Helvetica, sans-serif" color="#336699" size="2"><a name="#HighLight1"><b>Headline 1 </b></a></font></div>
																					</td>
																				</tr>
																				<tr bgColor="#fae25a">
																					<td width="13" height="18">&nbsp;</td>
																					<td width="638" height="18">
																					<div align="right">
																						<font face="Verdana, Arial, Helvetica, sans-serif" color="#cc0000" size="1"><a href="javascript:popup('heading.aspx?campid=8155&amp;id=277','600','240')"><img src="edit_icon.gif" border="0"><font face="Arial, Helvetica, sans-serif">Edit Heading</font></a></font></div>
																					</td>
																				</tr>
																			</table>
																			<table cellSpacing="0" cellPadding="0" width="553" border="0" id="table21">
																				<tr>
																					<td vAlign="top">
																					<table cellSpacing="0" cellPadding="0" width="560" border="0" id="table22">
																						<tr>
																							<td align="middle" height="2"><img height="2" src="http://mailgenie.biz/v3/t25/images/bigline.gif" width="560"></td>
																						</tr>
																					</table>
																					<table cellSpacing="0" cellPadding="0" width="560" border="0" id="table23">
																						<tr>
																							<td vAlign="top"><img id="Repeat__ctl0_img" height="150" src="http://mailgenie.biz/v3/files\clientData\0\templates\0\187x150.gif" width="187" border="0"><br>
&nbsp;</td>
																							<td width="464" bgColor="#f0f0f0" rowSpan="2">
																							<table cellSpacing="0" cellPadding="0" width="100%" border="0" id="table24">
																								<tr>
																									<td width="2%">&nbsp;</td>
																									<td width="98%"><font face="Arial, Helvetica, sans-serif" size="2">Here you can directly talk about the subject (products or services), which will be the core content. It will highlight the main features and explain the usability of the product or service being marketed. </font></td>
																								</tr>
																								<tr>
																									<td width="2%">&nbsp;</td>
																									<td width="98%">
																									<div align="right">
																										<font face="Verdana, Arial, Helvetica, sans-serif" color="#cc0000" size="1"><a href="javascript:popup('Message.aspx?campid=8155&amp;id=277','600','440')"><img src="edit_icon.gif" border="0"><font face="Arial, Helvetica, sans-serif">Edit Message</font></a></font></div>
																									</td>
																								</tr>
																							</table>
																							</td>
																						</tr>
																						<tr>
																							<td vAlign="bottom">
																							<div align="right">
																								<font face="Verdana, Arial, Helvetica, sans-serif" color="#cc0000" size="1"><a href="javascript:popup('changeimage.aspx?campid=8155&amp;id=277','600','240')"><img src="edit_icon.gif" border="0"><font face="Arial, Helvetica, sans-serif">Edit Image</font></a></font> 
																							</div>
																							</td>
																						</tr>
																					</table>
																					</td>
																				</tr>
																				<tr>
																					<td height="2">&nbsp;</td>
																				</tr>
																			</table>
																			</td>
																		</tr>
																		<tr>
																			<td>
																			<table cellSpacing="0" cellPadding="0" width="560" border="0" id="table25">
																				<tr bgColor="#fae25a">
																					<td width="13" height="18">&nbsp;</td>
																					<td width="638" height="18">
																					<div align="right">
&nbsp;</div>
																					<div align="left">
																						<font face="Arial, Helvetica, sans-serif" color="#336699" size="2"><a name="#HighLight2"><b>Headline 2 </b></a></font></div>
																					</td>
																				</tr>
																				<tr bgColor="#fae25a">
																					<td width="13" height="18">&nbsp;</td>
																					<td width="638" height="18">
																					<div align="right">
																						<font face="Verdana, Arial, Helvetica, sans-serif" color="#cc0000" size="1"><a href="javascript:popup('heading.aspx?campid=8155&amp;id=278','600','240')"><img src="edit_icon.gif" border="0"><font face="Arial, Helvetica, sans-serif">Edit Heading</font></a></font></div>
																					</td>
																				</tr>
																			</table>
																			<table cellSpacing="0" cellPadding="0" width="553" border="0" id="table26">
																				<tr>
																					<td vAlign="top">
																					<table cellSpacing="0" cellPadding="0" width="560" border="0" id="table27">
																						<tr>
																							<td align="middle" height="2"><img height="2" src="http://mailgenie.biz/v3/t25/images/bigline.gif" width="560"></td>
																						</tr>
																					</table>
																					<table cellSpacing="0" cellPadding="0" width="560" border="0" id="table28">
																						<tr>
																							<td vAlign="top"><img id="Repeat__ctl1_img" height="150" src="http://mailgenie.biz/v3/files\clientData\0\templates\0\187x150.gif" width="187" border="0"><br>
&nbsp;</td>
																							<td width="464" bgColor="#f0f0f0" rowSpan="2">
																							<table cellSpacing="0" cellPadding="0" width="100%" border="0" id="table29">
																								<tr>
																									<td width="2%">&nbsp;</td>
																									<td width="98%"><font face="Arial, Helvetica, sans-serif" size="2">Here you can directly talk about the subject (products or services), which will be the core content. It will highlight the main features and explain the usability of the product or service being marketed. </font></td>
																								</tr>
																								<tr>
																									<td width="2%">&nbsp;</td>
																									<td width="98%">
																									<div align="right">
																										<font face="Verdana, Arial, Helvetica, sans-serif" color="#cc0000" size="1"><a href="javascript:popup('Message.aspx?campid=8155&amp;id=278','600','440')"><img src="edit_icon.gif" border="0"><font face="Arial, Helvetica, sans-serif">Edit Message</font></a></font></div>
																									</td>
																								</tr>
																							</table>
																							</td>
																						</tr>
																						<tr>
																							<td vAlign="bottom">
																							<div align="right">
																								<font face="Verdana, Arial, Helvetica, sans-serif" color="#cc0000" size="1"><a href="javascript:popup('changeimage.aspx?campid=8155&amp;id=278','600','240')"><img src="edit_icon.gif" border="0"><font face="Arial, Helvetica, sans-serif">Edit Image</font></a></font> 
																							</div>
																							</td>
																						</tr>
																					</table>
																					</td>
																				</tr>
																				<tr>
																					<td height="2">&nbsp;</td>
																				</tr>
																			</table>
																			</td>
																		</tr>
																	</table>
																	</td>
																</tr>
															</table>
															</td>
														</tr>
													</table>
													<table cellSpacing="0" cellPadding="0" width="100%" bgColor="#ffffff" border="0" id="table30">
														<tr>
															<td>&nbsp;</td>
														</tr>
													</table>
													</td>
												</tr>
											</table>
										</form>
										</td>
									</tr>
								</table>
								</td>
							</tr>
						</table>
						</td>
					</tr>
				</table>
				</td>
			</tr>
		</table>
		</td>
	</tr>
</table>

</body>

</html>
