<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<title>Untitled Document</title>

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
</head>
<body >
<div align="center">
<table border="0" cellspacing="0" cellpadding="4" style="border: 1px solid #75CFFF">
  <tr class="HeaderColor">
    <td width="161" height="99" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td height="67" bgcolor="#0081C6">
			<div><$bizimgpath/$><br>
				<*$bizimgpath/$*></div></td>
        </tr>
        <tr>
          <td height="149" valign="top" bgcolor="#75CFFF">
				<table cellPadding="2" width="100%" border="0" id="table1">
					<tr>
						<td align="right" width="12%">
							<div class="para0">&nbsp;</div>
						</td>
						<td width="83%">&nbsp;</td>
					</tr>
					<tr vAlign="top">
						<td align="right" width="12%" height="20">
							<p align="left"><img border="0" src="../templates/images/bullet.gif" width="13" height="9"></td>
						<td align="left" width="83%" height="20" valign="middle"><$bizlink1/$><br>
							<*$bizlink1/$*><font face="Arial, Helvetica, sans-serif" color="#003399" size="1"><a href="#Highlight1"> </a> </font></td>
					</tr>
					<tr vAlign="top">
						<td align="left" width="12%" height="20">
							<div class="para0">
							<div class="para0">
								<img border="0" src="../templates/images/bullet.gif" width="13" height="9"></div>
							</div>
						</td>
						<td align="left" width="83%" height="20" valign="middle">
							<$bizlink2/$><br>
							<*$bizlink2/$*><font face="Arial, Helvetica, sans-serif" color="#003399" size="1"><a href="#Highlight1"> </a><span class="text0">&nbsp;</span></font></td>
					</tr>
					<tr vAlign="top">
						<td align="left" width="12%" height="20">
							<div class="para0">
								<img border="0" src="../templates/images/bullet.gif" width="13" height="9"></div>
						</td>
						<td align="left" width="83%" height="20" valign="middle">
							<$bizlink3/$><br>
							<*$bizlink3/$*><font face="Arial, Helvetica, sans-serif" color="#003399" size="1"><a href="#Highlight1"> </a> </font></td>
					</tr>
					<tr vAlign="top">
						<td align="left" width="12%" height="20">
							<div class="para0">
								<img border="0" src="../templates/images/bullet.gif" width="13" height="9"></div>
						</td>
						<td align="left" width="83%" height="20" valign="middle">
							<$bizlink4/$><br>
							<*$bizlink4/$*><font face="Arial, Helvetica, sans-serif" color="#003399" size="1"><a href="#Highlight1"> </a><span class="text0">&nbsp;</span></font></td>
					</tr>
					<tr vAlign="top">
						<td align="left" width="12%" height="20">&nbsp;</td>
						<td align="left" width="83%" height="20" valign="middle">&nbsp;</td>
					</tr>
				</table>
			</td>
		</tr>
        <tr>
          <td bgcolor="#F2FEFF">&nbsp;</td>
        </tr>
        <tr>
          <td bgcolor="#F2FEFF">
			<p align="center"><$bizimgpath1/$><br>
			<*$bizimgpath1/$*></td>
        </tr>
        <tr>
          <td bgcolor="#F2FEFF">&nbsp;</td>
        </tr>
        <tr>
          <td bgcolor="#F2FEFF">&nbsp;</td>
        </tr>
      </table></td>
    <td width="656" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="100" bgcolor="#F2FEFF" style="border: 1px solid #C6EBFF">
        	<div>
				<span class="text12"><br>
					<font color="#666666"><$Header1/$></font><br>
					<div><*$Header1/$*></div>
				</span>
			</div>
		</td>
      </tr>
      <tr>
        <td valign="top">
		<table width="100%" border="0" cellspacing="3" cellpadding="3">
          <tr>
            <td width="76%"><$cntbiztext1/$><br>
			<*$cntbiztext1/$*></td>
            <td valign="top"><$imgHeader1/$><div align="center"></div><*$imgHeader1/$*></td>
          </tr>
          <tr>
            <td width="76%"><$cntbiztext2/$><br>
			<*$cntbiztext2/$*></td>
            <td valign="top"><$imgHeader2/$><div align="center"></div><*$imgHeader2/$*></td>
          </tr>
			<tr>
            <td width="76%"><$cntbiztext3/$><br>
			<*$cntbiztext3/$*></td>
            <td valign="top"><$imgHeader3/$><div align="center"></div><*$imgHeader3/$*></td>
          </tr>
			<tr>
            <td width="76%"><$cntbiztext4/$><br>
			<*$cntbiztext4/$*></td>
            <td valign="top"><$imgHeader4/$><div align="center"></div><*$imgHeader4/$*></td>
          </tr>

        </table></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td colspan="2" height="3" style="text-align: center; vertical-align: top" bgcolor="#75CFFF"></td>
  </tr>
</table>
</div>
</body>
</html>