body {
	font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
	font-size: 10px;
	}
a {
	color: #437DAB;
	text-decoration: none;
	font-style: normal;
	text-transform: none;
	font-variant: normal;
	font-weight: normal;
}
a:hover {
	color: #000000;
	border-top: 1px #000000;
	border-right: 1px #000000;
	border-bottom: 1px dotted #000000;
	border-left: 1px #000000;
}
.HdnServices {
	font-family: Georgia, Verdana;
	font-size: 10pt;
	font-weight: bold;
	text-transform: capitalize;
	color: #FFA500;
	padding-top: 5px;
	padding-bottom: 5px;
}