/* CSS Document */
html, body {background-color: white;	margin: 0px;padding: 0px;}
	
A{text-decoration : none;}
.normaltext{font-family : verdana;font-size : 11px;font-weight : normal;color : #000000; line-height: 12pt}
.normaltextbold{font-family : verdana;font-size : 11px;font-weight : bold;color : #000000;}
.normaltextbolditalic{font-family : verdana;font-style : italic;font-size : 11px;font-weight : bold;color : #000000;}

.timetxt{font-family : verdana;font-size : 10px;font-weight : normal;color : #ffffff}
.time{font-family : verdana;font-size : 10px;font-weight : bold;color : #ffffff}

.box {
	FONT: 11px Tahoma, Verdana, Arial, sans-serif;
	COLOR: #000000;
	BACKGROUND-COLOR: #ffffff;
	TEXT-DECORATION: none;
	border: 1px solid #CCCCCC;
}
.boxhdn {
	FONT: 11px Verdana;
	font-weight : bold;
	COLOR: white;
	TEXT-DECORATION: none;
	}

.error{font-family : verdana;font-size : 8pt;font-weight : normal;color : red; }


.nmltxt{font-family : verdana;font-size : 11px;font-weight : normal;color : #568FBE; line-height: 12pt}
.nmltxtbold{font-family : verdana;font-size : 11px;font-weight : bold;color : #568FBE;}
.nmltxtbolditalic{font-family : verdana;font-style : italic;font-size : 11px;font-weight : bold;color : #568FBE;}

.FAQtext{font-family : verdana;font-size : 11px;font-weight : normal;color : #616D79; line-height: 12pt}
.FAQtextbold{font-family : verdana;font-size : 11px;font-weight : bold;color : #616D79;}
a.FAQtext:hover {font-family : verdana;font-size : 11px;font-weight : normal;color : #616D79; text-decoration:underline;}

.memenu {font-family : verdana;font-size : 10px;font-weight : normal;color : #616D79; }
a.memenu {font-family : verdana;font-size : 10px;font-weight : normal;color : #616D79; }
a.memenu:hover {font-family : verdana;font-size : 10px;font-weight : normal;color : blue; }

.footer {font-family : verdana;font-size : 10px;font-weight : normal;color : #616D79; }
a.footer {font-family : verdana;font-size : 10px;font-weight : normal;color : #616D79;}
a.footer:hover {font-family : verdana;font-size : 10px;font-weight : normal;color : #blue; text-decoration:underline;}

.normal{font-family : verdana;font-size : 11px;font-weight : normal;color : #0E3F7E; line-height: 12pt}
.normalbold{font-family : verdana;font-size : 11px;font-weight : bold;color : #0E3F7E;}
.normalbolditalic{font-family : verdana;font-style : italic;font-size : 11px;font-weight : bold;color : #0E3F7E;}

.text{font-family : verdana;font-size : 10px;font-weight : normal;color : #0E3F7E; line-height: 12pt}
.textbold{font-family : verdana;font-size : 10px;font-weight : bold;color : #0E3F7E;}
.textbolditalic{font-family : verdana;font-style : italic;font-size : 11px;font-weight : bold;color : #0E3F7E;}

.innertext{font-family : verdana;font-size : 12px;font-weight : normal;color : #B48533; line-height: 12pt}
.innertextbold{font-family : verdana;font-size : 12px;font-weight : bold;color : #B48533;}
.innertextbolditalic{font-family : verdana;font-style : italic;font-size : 13px;font-weight : bold;color : #B48533;}

.innertxt{font-family : verdana;font-size : 12px;font-weight : normal;color : #4D5465; line-height: 12pt}
.innertxtbold{font-family : verdana;font-size : 12px;font-weight : bold;color : #4D5465;}
.innertxtbolditalic{font-family : verdana;font-style : italic;font-size : 13px;font-weight : bold;color : #4D5465;}


.showhide
{
display:none;visibility:hidden;z-index:100;position:absolute;left:150px;background-color:#DFE5E8;border-color:Black;border-width:thick;
}

.detailtable
{
	border-width:thin;
	background-color:#DFE5E8;
	padding:1;
	width:100%;
}

Table
{
	border:0px;
	padding:0px;
	word-spacing:0px;
}
.tdright
{
	border-right: 1px solid #FFFFFF;
}
.tdleft
{
	border-left: 1px solid #FFFFFF;
}
.tdtop
{
	border-top: 1px solid #FFFFFF;
}
.tdbottom
{
	border-bottom: 1px solid #FFFFFF;
}
A.linkMember {
	FONT-SIZE: 12px; COLOR: #224b8e; FONT-FAMILY: Tahoma, Arial
}
a:hover.linkMember {
	FONT-SIZE: 12px; COLOR: #f7342d; FONT-FAMILY: Tahoma, Arial
}
.titleTd {
	FONT-SIZE: 10px; COLOR: #B34700; FONT-FAMILY: verdana; font-weight : bold;
}