<html>
	<head>
		<title>Your account is activated.</title></head><body><p>
			Dear member ,</p>
		<p>Thank you for Activating your account on Notiphi.com.
		</p>
		<p>Kindly keep the account details for any further refrence.<br>
			<b>Username: [$Username$]</b><br>
			<b>Password: [$Password$]</b></p>
		<p>Click on the link to login into your Notiphi account</p>
		<p><a href="[$LoginURL$]">[$LoginURL$]</a></p>
		<p>Sincerely,</p>
		</p>Customer Services<br>
		Notiphi.com</p><p>&nbsp;</p>
		<p>&nbsp;</p>
	</body>
</html>
